<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoW_Combatlog_Splitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WoW_Combatlog_Splitter.Properties.Settings>
            <setting name="Link" serializeAs="String">
                <value>http://wowclsp.googlecode.com</value>
            </setting>
        </WoW_Combatlog_Splitter.Properties.Settings>
    </userSettings>
</configuration>